{% extends "base.html" %}
{% block content %}
{% if form.non_field_errors %}
    <p class="text-danger">{{ form.non_field_errors }}</p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="usernmae" placeholder="Enter your username..."/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password..."/>

    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}  